SECRET_KEY=valami-hosszu-titkos-kulcs
ADMIN_PASSWORD=valami-eros-jelszo
DATABASE_PATH=triatlon.sqlite3
PERSIST_SUBDIR=user-data

# regi kompatibilitasi opcio:
# DATABASE_URL=sqlite:///app.db

# optionalis Google login:
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
